
.note {
    width: 20%;
    display: flex;
    margin: 20px;
    position: relative;
    flex-direction: column;
    border: 2px solid var(--colorBorderLight);
    border-radius: 10px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
}

.note-body {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.note:hover {
    outline: 3px solid var(--colorSecondary);
}

.note-image {
    border-radius: 7px 7px 0px 0px;
    margin: 2px;
}

.note-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 10px 10px 0 10px;
    color: var(--colorContentDarkPrimary);
}

.note-content {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 10px 10px 0 10px;
    color: var(--colorContentDarkTertiary);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; 
    line-clamp: 6; 
    -webkit-box-orient: vertical;
}

.note-category {
    align-self: flex-start;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.1);
    color: var(--colorContentDarkTertiary);
    font-size: 0.8rem;
    margin: 10px 10px 0 10px;
}

.note-date {
    align-self: flex-end;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 10px 10px 10px 10px;
    color: var(--colorContentDarkTertiary);
}

.btn-note-controls {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background-color: var(--colorSecondary);
    border-color: var(--colorSecondary);
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.btn-note-controls:hover {
    background-color: var(--colorPrimary);
    border-color: var(--colorPrimary);
}

.btn-note-controls i {
    font-size: 1.5rem;
    color: #ffffff;
}

@media(max-width:800px) {
    .note {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}



