:root {
    --colorBackground: #ffffff;

    --colorContent: #ffffff;
    --colorContentDark: #111111;

    --colorContentDarkSecondary: #222222;

    --colorPrimary: #ff4848;
    --colorPrimaryHover: #ff2424;

    --colorSecondary: #5f50e4;

    --colorTertiary: #f8f8fa;
    --colorTertiaryHover: #f0f0f0;





}