.container-notes-home-page{
    min-height: calc(100vh - (70px + 3rem));
    position: relative;
}

.container-notes-data {
    padding: 10px 10px;
    font-size: 1.1rem;
    color: var(--colorContentDarkTertiary);
    font-weight: 500;
    border-bottom: 1px solid var(--colorBorderLight);
    margin: 0 2vw;
}

.container-notes {
    display: flex;
    margin: 2vw;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-create-note {
    background-color: var(--colorPrimary);
    color: #ffffff;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0px 40px 40px 0;
    z-index: 1;
    cursor: pointer;
}

.btn-create-note:hover {
    background-color: var(--colorPrimaryHover);
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
    .container-notes {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .btn-create-note {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
        margin: 0px 20px 20px 0;
    }
}

@media only screen and (min-width: 601px) and (max-width: 850px) {
    .container-notes {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .btn-create-note {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
        margin: 0px 20px 20px 0;
    }
}

@media only screen and (min-width: 851px) and (max-width: 1050px) {
    .container-notes {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .btn-create-note {
        width: 4rem;
        height: 4rem;
        font-size: 3rem;
        margin: 0px 20px 20px 0;
    }
}