.container-notes-home-page{
    min-height: calc(100vh - (70px + 3rem));
}

.container-notes-data {
    padding: 10px 10px;
    font-size: 1.1rem;
    color: var(--colorContentDarkTertiary);
    font-weight: 500;
    border-bottom: 1px solid var(--colorBorderLight);
    margin: 0 2vw;
}

.container-notes {
    display: flex;
    margin: 2vw;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

@media(max-width:800px) {
    .container-notes {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}
