@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--colorBackground);
}

.container-landing-page {
    min-height: calc(100vh - (70px + 3rem));
    display: flex;
}

.container-landing-page-child1 {
    padding: 40px 40px 40px 100px;
    display: flex;
    flex-direction: column;
}

.container-landing-page-child2 {
    width: 150%;
}

.txt-landing-page-title {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 20px;
    color: var(--colorContentDark);
}

.txt-landing-page-subtitle {
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 60px;
    color: var(--colorContentDark);
}



.txt-landing-page-description {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 20px;
    font-weight: 400;
    line-height: 150%;
    color: var(--colorContentDarkSecondary);
}


.btn-getstarted-landing-page {
    width: 25%;
    border-radius: 5px;
    border: 0;
    font-size: 1rem;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 400;
    margin-top: 40px;
    background-color: var(--colorSecondary);
    color: var(--colorContent);
}

.btn-getstarted-landing-page:hover {
    background-color: var(--colorSecondaryHover);
}

.list-features li {
	font-size: 16px;
	margin-bottom: 1em;
	list-style-type: none;
	padding: .25em 0 0 2.5em;
	position: relative;
}

.list-features li:before {
		content: " ";
		display: block;
		border: solid .8em var(--colorPrimary);
		border-radius: .8em;
		height: 0;
		width: 0;
		position: absolute;
		left: .5em;
		top: 40%;
		margin-top: -.5em;
}

.list-features li:after {
		content: " ";
		display: block;
		width: .3em;
		height: .6em;
		border: solid #fff;
		border-width: 0 .2em .2em 0;
		position: absolute;
		left: 1em;
		top: 40%;
		margin-top: -.2em;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
}